<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- v-else

    v-if 可以单独使用，或配合v-else 指令一起使用：


    注意：v-else 指令必须配合v-if 指令一起使用，否则它将不会被识别！




    v-else-if

    v-else-if 指令，顾名思义，充当v-if 的“else-if 块”，可以连续使用：


    注意：v-else-if 指令必须配合v-if 指令一起使用，否则它将不会被识别！


    -->



    <!-- v-if 指令在使用的时候，有两种方式：

    1. 直接给定一个布尔值 true 或 false

    ```xml
    <p v-if="true">被 v-if 控制的元素</p>
    ```

    2. 给 v-if 提供一个判断条件，根据判断的结果是 true 或 false，来控制元素的显示和隐藏

    ```xml
    <p v-if="type === 'A'">良好</p>
   ``` -->

   

</body>
</html>