<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- 给input加   :id="'cb' + item.id"  -->

    <!-- 注意label的for属性也要与之对应     :for="'cb' + item.id"     -->


    <!-- <input type="checkbox" class="custom-control-input" :id="'cb' + item.id" v-model="item.status">
    <label class="custom-control-label" :for="'cb' + item.id" v-if="item.status === true">已启用</label>
    <label class="custom-control-label" :for="'cb' + item.id" v-else>已禁用</label> -->
</body>
</html>